ENACT_ENVIRONMENT=development
ENACT_LOG_LEVEL=INFO
ENACT_API_URL=http://localhost:8000

ENACT_DATABASE_HOST=localhost
ENACT_DATABASE_USERNAME=enact_app
ENACT_DATABASE_PASSWORD=local-app-only
ENACT_DATABASE_PORT=5432
ENACT_DATABASE_NAME=enact
